$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/weather-icons/sass/weather-icons.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto, Helveita, Arial, sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

 
}



/******************/
a.remove:hover {
  text-decoration: none;
}

.ad-block div {
  opacity:.51;
}

.clear-input {
  
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 10px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0.5px #010101, 0px 0px 0px #0e0e0e;
  background: #cccccc;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #010101, 0px 0px 0px #0e0e0e;
  border: 0.6px solid #2e6da4;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #337ab7;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #cccccc;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0.5px #010101, 0px 0px 0px #0e0e0e;
  background: #cccccc;
  border-radius: 25px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #010101, 0px 0px 0px #0e0e0e;
  border: 0.6px solid #2e6da4;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #337ab7;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #cccccc;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0.5px #010101, 0px 0px 0px #0e0e0e;
}
input[type=range]::-ms-fill-upper {
  background: #cccccc;
  border: 0px solid #010101;
  border-radius: 50px;
  box-shadow: 0px 0px 0.5px #010101, 0px 0px 0px #0e0e0e;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #010101, 0px 0px 0px #0e0e0e;
  border: 0.6px solid #2e6da4;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #337ab7;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cccccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #cccccc;
}

